
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 14px;
}

.wrapper {
  /*border: 1px solid green;*/
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 20px auto 0;
}

.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

h2 {
  text-align: center;
}

.chart {
  /*border: 1px solid red;*/
  float: left;
  position: relative;
  width: 650px;
  height: 600px;
}

.legend {
  /*border: 1px solid blue;*/
  float: left;
  margin: 0 0 0 50px;
  padding: 0;
  width: 480px;
  list-style: none;
}

.legend.middle {
  margin-top: 150px;
}

.legend li {
  margin-top: 5px;
  font-size: 15px;
}
